@import "../../../../styles/global";

.StatsItem {

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: flex-start;
  padding-bottom: $font-size * 4;

  &:last-child {
    padding-bottom: 0;
  }

  & > * {
    width: 100%;
    text-align: center;
  }

  &__title {
    @include sectionTitleLarge();
    font-family: map_get($fonts, title);
    color: map_get($colors, main);
  }

  &__description {
    @extend %sectionDescription;
    color: map_get($colors, font);
    padding-left: $font-size * 2;
    padding-right: $font-size * 2;
  }

  @include over850() {
    width: 33%;
    padding-bottom: 0;
  }

  &__description {
    @include sectionDescriptionLarge();
    padding: 0 $section-margin;
  }

}