@import "../../../../styles/global";

.StatsItem {

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: flex-start;
  padding-bottom: $font-size * 4;

  &:last-child {
    padding-bottom: 0;
  }

  & > * {
    width: 100%;
    text-align: center;
  }

  &__title {
    @include sectionTitleLarge();
    font-family: map_get($fonts, title);
    color: map_get($colors, main);
  }

  &__description {
    @extend %sectionDescription;
    color: map_get($colors, font);
    padding-left: $font-size * 2;
    padding-right: $font-size * 2;
  }

  @include over540() {

    width: calc(540px - 48px);

    &__title {
      width: 50%;
      font-size: 70px;
      display: flex;
      justify-content: flex-end;
    }
    &__description {
      width: 50%;
      display: flex;
      justify-content: flex-start;
      text-align: left;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    padding-bottom: 36px;
  }

  @include over850() {

    width: 33%;
    padding-bottom: 0;
    justify-content: center;

    & > * {
      width: 100%;
      text-align: center;
      justify-content: center;
    }

    &__title {
      font-size: 80px;
    }

    &__description {
      max-width: 110px;

    }
  }
}