@import "../../../styles/global";

.Header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 47px;
  margin-bottom: $section-margin;

  @include over850() {
    margin-bottom: $section-margin * 2;
  }

  @include over1120() {
    margin-bottom: $section-margin * 3;
  }
}