@import "../../../../styles/global";

.Nav {
  position: relative;

  &__icon {

    &__bar {
      background: map-get($colors, font);
      background: black;
      width: 30px;
      height: 3px;
      border-radius: 90px;
      margin-bottom: 4px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__burger {
    position: absolute;
    top: 40px;
    z-index: 9;
    text-align: right;
    background: map_get($colors, background);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid map_get($colors, white);
    border-right: none;
    width: 200px;
    transition: 0.5s;

    &.burgerOff {
      right: -300px;
    }

    &.burgerOn {
      right: -24px;
    }
  }

  &__inline {
    display: none;
  }

  @include over850() {

    &__icon {
      display: none;
    }
    &__burger {
      display: none;
    }
    &__inline {
      display: block;
    }
  }
}