@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
@import "breakpoints";

$fonts: (
        title: "Rozha One",
        main: "Reem Kufi"
);

$colors: (
        main: #FABD20,
        background: #FEF4E6,
        font: #131E07,
        white: #FFF,
        black: #000,
        lightgray: #E5E5E5,
        darkgray: #7C8176,
);

$font-size: 20px;
$section-margin: 50px;