@import "../../styles/global";

.Logo {
  display: flex;
  align-items: flex-start;

  &__shape {
    margin-right: 15px;
  }

  &__main {
    height: 47px;
    
    &__path {

      &.dark {
        fill: map_get($colors, font)
      }

      &.light {
        fill: map_get($colors, white)
      }
    }

    &__circle {
      fill: map_get($colors, main);
    }
  }
}