@import "../../../styles/global";

.Front {
  display: flex;
  flex-wrap: wrap;
  color: map_get($colors, font);

  & > * {
    width: 100%;
  }

  &__banner {
    margin-bottom: $font-size * 2;

    &__image {
      width: 100%;
    }
  }

  &__main {

    &__title {
      margin-bottom: 1rem;
    }

    &__description {
      margin-bottom: $font-size * 1.5;
    }

    &__button {
      @extend %button;
    }
  }

  @include over400() {

    &__banner {
      max-width: calc(540px - 48px);
      margin-left: auto;
      margin-right: auto;
    }

    &__main__title, &__main__description {
      max-width: 400px;
    }

    &__main__button {
      max-width: 200px;
      height: 50px;
    }

  }

  @include over650() {

    &__banner {
      order: 2;
      width: 60%;
      max-width: none;
      padding-top: $section-margin * 1.5;
      margin: 0;
    }

    &__main {
      order: 1;
      width: 40%;
      align-self: flex-start;

      &__title, &__description {
        max-width: 100%;
      }
    }
  }

  @include over850() {

    &__banner {
      padding-top: $section-margin;

      &__image {
        width: 100%;
      }
    }

    &__main__button {
      @extend %button;
    }
  }
}