@import "../../../styles/global";

.Front {
  display: flex;
  flex-wrap: wrap;
  color: map_get($colors, font);

  & > * {
    width: 100%;
  }

  &__banner {
    margin-bottom: $font-size * 2;

    &__image {
      width: 100%;
    }
  }

  &__main {

    &__title {
      @extend %sectionTitle;
      margin-bottom: 1rem;

      &__accent {
        margin-left: 0;
        height: $font-size * 1.25;
      }
    }

    &__description {
      @extend %sectionDescription;
      margin-bottom: $font-size * 1.5;
    }

    &__button {
      @extend %button;
    }
  }

  @include over400() {

    &__banner {
      max-width: calc(540px - 48px);
      margin: 0 auto 36px auto;
    }

    &__main__title, &__main__description {
      max-width: 400px;
    }

    &__main__button {
      max-width: 255px;
    }

    }

  @include over650() {

    &__banner {

      width: 60%;
      max-width: none;
      order: 2;
      padding-top: $section-margin * 1.5;
      margin-bottom: 0;
    }

    &__main {
      order: 1;
      width: 40%;
      align-self: flex-start;

      &__title, &__description {
        max-width: 100%;
      }
      &__title {
        font-size: 40px;
        line-height: 40px * 1.17;
      }
      &__description {
        font-size: 20px;
        line-height: 20px * 1.5;
      }
      &__button {
        width: 200px;
        height: 42px;
      }
    }
  }


  @include over850() {

    &__banner {

      width: 60%;
      order: 2;
      padding-top: $section-margin * 2;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;

      &__image {
        width: 100%;

      }
    }

    &__main {
      order: 1;
      width: 40%;
      align-self: flex-start;

      &__title, &__description {
        max-width: 100%;
      }
    }
  }

  @include over1120() {

    &__main {

      &__title {
        @include sectionTitleLarge();

        &__accent {
          margin-left: 0;
          height: $font-size * 2;
        }
      }

      &__description {
        @include sectionDescriptionLarge();
      }

      &__button {
        @extend %button;
        @include sectionDescriptionLarge();
      }
    }
  }
}