@import "../../../styles/global";

.Front {
  display: flex;
  flex-wrap: wrap;
  color: map_get($colors, font);

  & > * {
    width: 100%;
  }

  &__banner {
    margin-bottom: $font-size * 2;

    &__image {
      width: 100%;
    }
  }

  &__main {

    &__title {
      @extend %sectionTitle;
      margin-bottom: 1rem;

      &__accent {
        margin-left: 0;
        height: $font-size * 1.25;
      }
    }

    &__description {
      @extend %sectionDescription;
      margin-bottom: $font-size * 1.5;
    }

    &__button {
      @extend %button;
    }
  }

  @include over850() {

    &__banner {
      width: 60%;
      order: 2;
      padding-top: $section-margin;
    }

    &__main {
      order: 1;
      width: 40%;
      align-self: flex-start;

      &__button {
        width: 255px;
      }
    }
  }

  @include over1120() {

    &__main {

      &__title {
        @include sectionTitleLarge();
        &__accent {
          margin-left: 0;
          height: $font-size * 2;
        }
      }

      &__description {
        @include sectionDescriptionLarge();
      }

      &__button {
        @extend %button;
        @include sectionDescriptionLarge();
      }
    }
  }
}