@import "../../../../../styles/global";

.NavList {
  list-style-type: none;
  font-family: $font-main;
  font-size: 1.5rem;
  padding-right: 1.5rem;

  & > li {

    line-height: 50px;

    .NavList__link-active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        right: -16px;
        top: calc(50% - 4px);
        border-radius: 50%;
        background: map_get($colors, main);

        @include over850() {
          left: calc(50% - 4px);
          top: 100%;
        }
      }
    }
  }

  @include over850() {
    display: flex;
    justify-items: flex-end;
    padding-right: 0;

    & > li:last-child {
      margin-right: 0;
      height: 50px;
      width: 124px;
      background: map_get($colors, main);
      border-radius: 8px;
      text-align: center;
    }
  }
}

$breakpoints: (
        850px: 10px,
        1000px: 20px,
        1240px: 30px,
);

@each $width, $margin in $breakpoints {
  @media screen and (min-width: $width) {

    .NavList > li {
      margin: 0 $margin;

      &:last-child {
        margin-left: $margin;
      }
    }
  }
}