@import "../../../../../styles/global";

$li-margin: 10px;

@include over1000() { $li-margin: 20px }
@include over1240() { $li-margin: 40px }

.NavList {
  list-style-type: none;
  font-family: map_get($fonts, main);
  font-size: 24px;
  line-height: 50px;
  padding-right: 24px;

  @include over850() {

    display: flex;
    justify-items: flex-end;
    padding-right: 0;

    & > li {

      line-height: 50px;
      margin: 0 10px;

      &:last-child {
        margin-left: 10px;
        margin-right: 0;
        height: 50px;
        width: 124px;
        background: map_get($colors, main);
        border-radius: 8px;
        text-align: center;
      }
    }
  }

  & > li {

    @include over1000() {
      margin: 0 20px;

      &:last-child {
        margin-left: 20px;
      }
    }

    @include over1240() {
      margin: 0 30px;

      &:last-child {
        margin-left: 30px;
      }
    }

  }

}