@import "../../../styles/global";

.Community {
  width: 100%;
  background: map_get($colors, main);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 64px;
  padding-bottom: calc((100vw - 48px) * 0.48 * 0.6); // calc((100vw - 48px) * 0.48) wraps the whole video
  margin-bottom: calc((100vw - 48px) * 0.48 * 0.4 + 64px);

  &__title {
    @extend %sectionTitle;
    text-align: left;
    padding-bottom: $font-size * 2;
  }

  &__description {
    @extend %sectionDescription;
    text-align: left;
    padding-bottom: 75px;
  }

  &__video {
    position: relative;
    width: 100%;
  }

  @include over540() {

    &__title {
      text-align: center;
      margin: 0 auto;
      max-width: 515px;
    }

    &__description {
      text-align: center;
      max-width: 400px;
      margin: 0 auto;
    }
  }

  @include over850() {

    &__description {
      padding-bottom: 75px;
    }
  }

  @include over1120() {
    &__title {
      @include sectionTitleLarge;
      max-width: 850px;
    }

    &__description {
      @include sectionDescriptionLarge;
      max-width: 500px;
    }
  }

  @include over1240() {

     & > * {
       width: 1240px;
       margin-left: auto;
       margin-right: auto;
     }
  }

  @include over1400() {
    padding-bottom: 405px;
  }
}