@import "../../styles/global";

.Video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: (603px / 1240px) * 100%;
  background-image: url("../../assets/video.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 8px;

  &__icon {
    position: absolute;
    top: calc(50% - 39px);
    left: calc(50% - 39px);
    z-index: 5;
    width: 78px;
    height: 78px;
    background: map_get($colors, videoIcon);
    opacity: 0.8;
    border-radius: 50%;
    transform: scale(0.6);

    &__arrow {
      position: absolute;
      z-index: 7;
      top: calc(50% - 17px);
      left: calc(50% - 17px);
      opacity: 1;
      height: 34px;
      width: 34px;
      pointer-events: none;
    }

    @include over850 {
      transform: scale(0.8);
    }
    @include over1120 {
      transform: scale(1);
    }
  }
}