@import "../../../styles/global";

.Benefits {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 64px;
  justify-content: space-around;

  &__title, &__description {
    padding-bottom: 36px;
  }

  &__items {
    @include over540 {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
  }

  @include over540() {
    &__title {
      text-align: center;
    }

    &__description {
      text-align: center;
      max-width: 70vw;
    }
  }

  @include over850() {
    padding-bottom: $section-margin * 2;
  }

  @include over1120() {
    &__title {
      max-width: 850px;
    }

    &__description {
      text-align: center;
      max-width: 600px;
    }
  }

}