@import "../../../styles/global";

.Benefits {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 64px;
  justify-content: flex-start;

  &__title, &__description {
    padding-bottom: $font-size * 2;
  }

  &__items {
    @include over540 {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
  }

  @include over850() {
    padding-bottom: $section-margin * 2;

    &__description {
      padding-bottom: $font-size * 4;
    }
  }

  @include over1120() {
    &__description {
      max-width: 600px;
    }
  }
}